*#*#
*.#*
*.iml
*.ipr
*.iws
*.swp
*~
.DS_Store
.cache
.classpath
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
*.class
angel-ps/core/target/
angel-ps/psf/target/
angel-ps/examples/target/
angel-ps/jarvis/target/
angel-ps/tools/target/
angel-ps/mllib/target/
angel-ps/tools/target/
angel-ps/serving/target/
angel-ps/target/
angel-ps/core/log/
angel-ps/psf/log/
angel-ps/examples/log/
angel-ps/mllib/log/
angel-ps/log/
dist/target/
spark-on-angel/core/target/
spark-on-angel/examples/target/
spark-on-angel/mllib/target/
spark-on-angel/target/
spark-on-angel/core/log/
spark-on-angel/examples/log/
spark-on-angel/mllib/log/
spark-on-angel/log/
angel-ps/core/velocity.*
angel-ps/core/src/main/java/com/tencent/angel/ml/math2/velocity
angel-ps/core/src/test/java/com/tencent/angel/ml/math2/vector/CompTest/*/
angel-ps/core/src/test/java/com/tencent/angel/ml/math2/vector/SimpleTest/*/

