#set ($len = $dtypes.size() - 1)
package com.tencent.angel.ml.math2.ufuncs.executor.simple;

import com.tencent.angel.exception.AngelException;
import com.tencent.angel.ml.math2.storage.*;
import com.tencent.angel.ml.math2.ufuncs.expression.Binary;
import com.tencent.angel.ml.math2.vector.*;
import it.unimi.dsi.fastutil.ints.*;
import it.unimi.dsi.fastutil.longs.*;
import it.unimi.dsi.fastutil.objects.ObjectIterator;
import com.tencent.angel.ml.math2.utils.Constant;

public class SimpleBinaryInNonZAExecutor {
    public static Vector apply(Vector v1, Vector v2, Binary op) {
        if (v1 instanceof IntDoubleVector && v2 instanceof IntDoubleVector) {
            return apply((IntDoubleVector) v1, (IntDoubleVector) v2, op);
        } else if (v1 instanceof IntDoubleVector && v2 instanceof IntFloatVector) {
            return apply((IntDoubleVector) v1, (IntFloatVector) v2, op);
        } else if (v1 instanceof IntDoubleVector && v2 instanceof IntLongVector) {
            return apply((IntDoubleVector) v1, (IntLongVector) v2, op);
        } else if (v1 instanceof IntDoubleVector && v2 instanceof IntIntVector) {
            return apply((IntDoubleVector) v1, (IntIntVector) v2, op);
        } else if (v1 instanceof IntDoubleVector && v2 instanceof IntDummyVector) {
            return apply((IntDoubleVector) v1, (IntDummyVector) v2, op);
        } else if (v1 instanceof IntFloatVector && v2 instanceof IntFloatVector) {
            return apply((IntFloatVector) v1, (IntFloatVector) v2, op);
        } else if (v1 instanceof IntFloatVector && v2 instanceof IntLongVector) {
            return apply((IntFloatVector) v1, (IntLongVector) v2, op);
        } else if (v1 instanceof IntFloatVector && v2 instanceof IntIntVector) {
            return apply((IntFloatVector) v1, (IntIntVector) v2, op);
        } else if (v1 instanceof IntFloatVector && v2 instanceof IntDummyVector) {
            return apply((IntFloatVector) v1, (IntDummyVector) v2, op);
        } else if (v1 instanceof IntLongVector && v2 instanceof IntLongVector) {
            return apply((IntLongVector) v1, (IntLongVector) v2, op);
        } else if (v1 instanceof IntLongVector && v2 instanceof IntIntVector) {
            return apply((IntLongVector) v1, (IntIntVector) v2, op);
        } else if (v1 instanceof IntLongVector && v2 instanceof IntDummyVector) {
            return apply((IntLongVector) v1, (IntDummyVector) v2, op);
        } else if (v1 instanceof IntIntVector && v2 instanceof IntIntVector) {
            return apply((IntIntVector) v1, (IntIntVector) v2, op);
        } else if (v1 instanceof IntIntVector && v2 instanceof IntDummyVector) {
            return apply((IntIntVector) v1, (IntDummyVector) v2, op);
        } else if (v1 instanceof LongDoubleVector && v2 instanceof LongDoubleVector) {
            return apply((LongDoubleVector) v1, (LongDoubleVector) v2, op);
        } else if (v1 instanceof LongDoubleVector && v2 instanceof LongFloatVector) {
            return apply((LongDoubleVector) v1, (LongFloatVector) v2, op);
        } else if (v1 instanceof LongDoubleVector && v2 instanceof LongLongVector) {
            return apply((LongDoubleVector) v1, (LongLongVector) v2, op);
        } else if (v1 instanceof LongDoubleVector && v2 instanceof LongIntVector) {
            return apply((LongDoubleVector) v1, (LongIntVector) v2, op);
        } else if (v1 instanceof LongDoubleVector && v2 instanceof LongDummyVector) {
            return apply((LongDoubleVector) v1, (LongDummyVector) v2, op);
        } else if (v1 instanceof LongFloatVector && v2 instanceof LongFloatVector) {
            return apply((LongFloatVector) v1, (LongFloatVector) v2, op);
        } else if (v1 instanceof LongFloatVector && v2 instanceof LongLongVector) {
            return apply((LongFloatVector) v1, (LongLongVector) v2, op);
        } else if (v1 instanceof LongFloatVector && v2 instanceof LongIntVector) {
            return apply((LongFloatVector) v1, (LongIntVector) v2, op);
        } else if (v1 instanceof LongFloatVector && v2 instanceof LongDummyVector) {
            return apply((LongFloatVector) v1, (LongDummyVector) v2, op);
        } else if (v1 instanceof LongLongVector && v2 instanceof LongLongVector) {
            return apply((LongLongVector) v1, (LongLongVector) v2, op);
        } else if (v1 instanceof LongLongVector && v2 instanceof LongIntVector) {
            return apply((LongLongVector) v1, (LongIntVector) v2, op);
        } else if (v1 instanceof LongLongVector && v2 instanceof LongDummyVector) {
            return apply((LongLongVector) v1, (LongDummyVector) v2, op);
        } else if (v1 instanceof LongIntVector && v2 instanceof LongIntVector) {
            return apply((LongIntVector) v1, (LongIntVector) v2, op);
        } else if (v1 instanceof LongIntVector && v2 instanceof LongDummyVector) {
            return apply((LongIntVector) v1, (LongDummyVector) v2, op);
        } else {
            throw new AngelException("Vector type is not support!");
        }
    }

#foreach ($itype in $itypes)
#foreach ($idx1 in [0..$len])
#set ($dtype1 = $dtypes.get($idx1))
#foreach ($idx2 in [$idx1..$len])
#set ($dtype2 = $dtypes.get($idx2))
    public static Vector apply(${itype}${dtype1}Vector v1, ${itype}${dtype2}Vector v2, Binary op) {
#if ($itype == "Int")
        if (v1.isDense() && v2.isDense()) {
            $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
            $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();
            for (int idx = 0; idx < v1Values.length; idx++) {
                v1Values[idx] = op.apply(v1Values[idx], v2Values[idx]);
            }
        } else if (v1.isDense() && v2.isSparse()) {
            $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
            ObjectIterator<${itype}2${dtype2}Map.Entry> iter = v2.getStorage().entryIterator();
            while(iter.hasNext()) {
                ${itype}2${dtype2}Map.Entry entry = iter.next();
                $itype.toLowerCase() idx = entry.get${itype}Key();
                v1Values[idx] = op.apply(v1Values[idx], entry.get${dtype2}Value());
            }
        } else if (v1.isDense() && v2.isSorted()) {
            $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
            $itype.toLowerCase() [ ] v2Indices = v2.getStorage().getIndices();
            $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();
            $itype.toLowerCase() size = v2.size();
            for (int i=0; i < size; i++) {
                $itype.toLowerCase() idx = v2Indices[i];
                v1Values[idx] = op.apply(v1Values[idx], v2Values[i]);
            }
        } else if (v1.isSparse() && v2.isDense()) {
            if (op.isKeepStorage()) {
                throw new AngelException("operation is not support!");
            } else {
                ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();
                $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();

                if (v1.size() < Constant.denseLoopThreshold * v1.getDim()) {
                    for (int i = 0; i < resValues.length; i++) {
                        resValues[i] = op.apply(0, v2Values[i]);
                    }
                    ObjectIterator<${itype}2${dtype1}Map.Entry> iter = v1.getStorage().entryIterator();
                    while (iter.hasNext()) {
                        ${itype}2${dtype1}Map.Entry entry = iter.next();
                        $itype.toLowerCase() idx = entry.get${itype}Key();
                        resValues[idx] = op.apply(entry.get${dtype1}Value(), v2Values[idx]);
                    }
                } else {
                    for (int i = 0; i < resValues.length; i++) {
                        if (v1.getStorage().hasKey(i)) {
                            resValues[i] = op.apply(v1.get(i), v2Values[i]);
                        } else {
                            resValues[i] = op.apply(0, v2Values[i]);
                        }
                    }
                }

                v1.setStorage(newStorage);
            }
        } else if (v1.isSorted() && v2.isDense()) {
            if (op.isKeepStorage()) {
                throw new AngelException("operation is not support!");
            } else {
                ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();
                $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();

                if (v1.size() < Constant.denseLoopThreshold * v1.getDim()) {
                    $itype.toLowerCase() [ ] v1Indices = v1.getStorage().getIndices();
                    $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
                    for (int i = 0; i < resValues.length; i++) {
                        resValues[i] = op.apply(0, v2Values[i]);
                    }

                    $itype.toLowerCase() size = v1.size();
                    for (int i = 0; i < size; i++) {
                        $itype.toLowerCase() idx = v1Indices[i];
                        resValues[idx] = op.apply(v1Values[i], v2Values[idx]);
                    }
                } else {
                    ${itype}${dtype1}VectorStorage v1Storage = v1.getStorage();
                    for (int i = 0; i < resValues.length; i++) {
                        if (v1Storage.hasKey(i)) {
                            resValues[i] = op.apply(v1.get(i), v2Values[i]);
                        } else {
                            resValues[i] = op.apply(0, v2Values[i]);
                        }
                    }
                }

                v1.setStorage(newStorage);
            }
        } else if (v1.isSparse() && v2.isSparse()) {
#else
        if (v1.isSparse() && v2.isSparse()) {
#end
#if ($itype == "Int")
            if (!op.isKeepStorage() && ((v1.size() + v2.size())* Constant.intersectionCoeff > Constant.sparseDenseStorageThreshold * v1.getDim())) {
                ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();
                ObjectIterator<${itype}2${dtype1}Map.Entry> iter1 = v1.getStorage().entryIterator();
                while(iter1.hasNext()) {
                    ${itype}2${dtype1}Map.Entry entry = iter1.next();
                    $itype.toLowerCase() idx = entry.get${itype}Key();
                    resValues[idx] = entry.get${dtype1}Value();
                }

                ObjectIterator<${itype}2${dtype2}Map.Entry> iter2 = v2.getStorage().entryIterator();
                while(iter2.hasNext()) {
                    ${itype}2${dtype2}Map.Entry entry = iter2.next();
                    $itype.toLowerCase() idx = entry.get${itype}Key();
                    resValues[idx] = op.apply(resValues[idx], entry.get${dtype2}Value());
                }

                v1.setStorage(newStorage);
            } else {
#end
                // to avoid multi-rehash
                int capacity = 1 << (32 - Integer.numberOfLeadingZeros((int)(v1.size()/0.75)));
                if (v1.size() + v2.size() < 1.5 * capacity) {
                    // no rehashor one onle rehash is required, nothing to optimization
                    ObjectIterator<${itype}2${dtype2}Map.Entry> iter = v2.getStorage().entryIterator();
                    while(iter.hasNext()) {
                        ${itype}2${dtype2}Map.Entry entry = iter.next();
                        $itype.toLowerCase() idx = entry.get${itype}Key();
                        v1.set(idx, op.apply(v1.get(idx), entry.get${dtype2}Value()));
                    }
                } else { // multi-rehash
                    ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptySparse((int)(v1.size()+v2.size()));

                    ObjectIterator<${itype}2${dtype1}Map.Entry> iter1 = v1.getStorage().entryIterator();
                    while(iter1.hasNext()) {
                        ${itype}2${dtype1}Map.Entry entry = iter1.next();
                        $itype.toLowerCase() idx = entry.get${itype}Key();
                        newStorage.set(idx, entry.get${dtype1}Value());
                    }

                    ObjectIterator<${itype}2${dtype2}Map.Entry> iter2 = v2.getStorage().entryIterator();
                    while (iter2.hasNext()) {
                        ${itype}2${dtype2}Map.Entry entry = iter2.next();
                        $itype.toLowerCase() idx = entry.get${itype}Key();
                        newStorage.set(idx, op.apply(v1.get(idx), entry.get${dtype2}Value()));
                    }
                    v1.setStorage(newStorage);
                }
#if ($itype == "Int")
            }
#end
        } else if (v1.isSparse() && v2.isSorted()) {
#if ($itype == "Int")
            if (!op.isKeepStorage() && ((v1.size() + v2.size())* Constant.intersectionCoeff > Constant.sparseDenseStorageThreshold * v1.getDim())) {
                ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();
                ObjectIterator<${itype}2${dtype1}Map.Entry> iter1 = v1.getStorage().entryIterator();
                while(iter1.hasNext()) {
                    ${itype}2${dtype1}Map.Entry entry = iter1.next();
                    $itype.toLowerCase() idx = entry.get${itype}Key();
                    resValues[idx] = entry.get${dtype1}Value();
                }

                $itype.toLowerCase() [ ] v2Indices = v2.getStorage().getIndices();
                $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();
                $itype.toLowerCase() size = v2.size();
                for (int i = 0; i < size; i++) {
                    $itype.toLowerCase() idx = v2Indices[i];
                    resValues[idx] = op.apply(resValues[idx], v2Values[i]);
                }

                v1.setStorage(newStorage);
            } else {
#end
                // to avoid multi-rehash
                int capacity = 1 << (32 - Integer.numberOfLeadingZeros((int) (v1.size() / 0.75)));
                if (v1.size() + v2.size() < 1.5 * capacity) {
                    $itype.toLowerCase() [ ] v2Indices = v2.getStorage().getIndices();
                    $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();
                    $itype.toLowerCase() size = v2.size();
                    for (int i = 0; i < size; i++) {
                        $itype.toLowerCase() idx = v2Indices[i];
                        v1.set(idx, op.apply(v1.get(idx), v2Values[i]));
                    }
                } else {
                    ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptySparse((int)(v1.size()+v2.size()));

                    ObjectIterator<${itype}2${dtype1}Map.Entry> iter1 = v1.getStorage().entryIterator();
                    while(iter1.hasNext()) {
                        ${itype}2${dtype1}Map.Entry entry = iter1.next();
                        $itype.toLowerCase() idx = entry.get${itype}Key();
                        newStorage.set(idx, entry.get${dtype1}Value());
                    }

                    $itype.toLowerCase() [ ] v2Indices = v2.getStorage().getIndices();
                    $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();
                    $itype.toLowerCase() size = v2.size();
                    for (int i = 0; i < size; i++) {
                        $itype.toLowerCase() idx = v2Indices[i];
                        newStorage.set(idx, op.apply(v1.get(idx), v2Values[i]));
                    }
                    v1.setStorage(newStorage);
                }
#if ($itype == "Int")
            }
#end
        } else if (v1.isSorted() && v2.isSparse()) {
#if ($itype == "Int")
            if (!op.isKeepStorage() && ((v1.size() + v2.size())* Constant.intersectionCoeff > Constant.sortedDenseStorageThreshold * v1.getDim())) {
                ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();

                $itype.toLowerCase() [ ] v1Indices = v1.getStorage().getIndices();
                $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
                $itype.toLowerCase() size = v1.size();
                for (int i = 0; i < size; i++) {
                    $itype.toLowerCase() idx = v1Indices[i];
                    resValues[idx] = v1Values[i];
                }

                ObjectIterator<${itype}2${dtype2}Map.Entry> iter = v2.getStorage().entryIterator();
                while(iter.hasNext()) {
                    ${itype}2${dtype2}Map.Entry entry = iter.next();
                    $itype.toLowerCase() idx = entry.get${itype}Key();
                    resValues[idx] = op.apply(resValues[idx], entry.get${dtype2}Value());
                }

                v1.setStorage(newStorage);
            } else {
#end
                $itype.toLowerCase() [ ] v1Indices = v1.getStorage().getIndices();
                $itype.toLowerCase() [ ] idxiter = v2.getStorage().indexIterator().to${itype}Array();

                $itype.toLowerCase() [ ] indices = new $itype.toLowerCase() [(int)(v1.size() + v2.size())];
                System.arraycopy(v1Indices, 0, indices, 0, (int)v1.size());
                System.arraycopy(idxiter, 0, indices, (int)v1.size(), (int)v2.size());

                ${itype}AVLTreeSet avl = new ${itype}AVLTreeSet(indices);

                ${itype}BidirectionalIterator iter = avl.iterator();
                $dtype1.toLowerCase() [ ] values = new $dtype1.toLowerCase() [(int)(v1.size() + v2.size())];

                int i = 0;
                while(iter.hasNext()) {
                    $itype.toLowerCase() idx = iter.next${itype}();
                    indices[i] = idx;
                    values[i] = op.apply(v1.get(idx), v2.get(idx));
                    i++;
                }

                while(i < indices.length){
                    indices[i] = 0;
                    i++;
                }

                ${itype}${dtype1}SortedVectorStorage newStorage = new ${itype}${dtype1}SortedVectorStorage(
                        v1.getDim(), (int)avl.size() ,indices, values);
                v1.setStorage(newStorage);
#if ($itype == "Int")
            }
#end
        } else if (v1.isSorted() && v2.isSorted()) {
            ${itype}${dtype1}VectorStorage newStorage;
            int v1Pointor = 0;
            int v2Pointor = 0;
            $itype.toLowerCase() size1 = v1.size();
            $itype.toLowerCase() size2 = v2.size();

            $itype.toLowerCase() [ ] v1Indices = v1.getStorage().getIndices();
            $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
            $itype.toLowerCase() [ ] v2Indices = v2.getStorage().getIndices();
            $dtype2.toLowerCase() [ ] v2Values = v2.getStorage().getValues();

#if ($itype == "Int")
            if (!op.isKeepStorage() && ((size1 + size2)* Constant.intersectionCoeff > Constant.sortedDenseStorageThreshold * v1.getDim())) {
                newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();

                while (v1Pointor < size1 && v2Pointor < size2) {
                    if (v1Indices[v1Pointor] == v2Indices[v2Pointor]) {
                        resValues[v1Indices[v1Pointor]] = op.apply(v1Values[v1Pointor], v2Values[v2Pointor]);
                        v1Pointor++;
                        v2Pointor++;
                    } else if (v1Indices[v1Pointor] < v2Indices[v2Pointor]) {
                        resValues[v1Indices[v1Pointor]] = v1Values[v1Pointor];
                        v1Pointor++;
                    } else { // v1Indices[v1Pointor] > v2Indices[v2Pointor]
                        resValues[v2Indices[v2Pointor]] = op.apply(0, v2Values[v2Pointor]);
                        v2Pointor++;
                    }
                }
            } else {
#end
                $itype.toLowerCase() [ ] resIndices = new $itype.toLowerCase() [(int)(v1.size() + v2.size())];
                $dtype1.toLowerCase() [ ] resValues = new $dtype1.toLowerCase() [(int)(v1.size() + v2.size())];
                int globalPointor = 0;

                while (v1Pointor < size1 && v2Pointor < size2) {
                    if (v1Indices[v1Pointor] == v2Indices[v2Pointor]) {
                        resIndices[globalPointor] = v1Indices[v1Pointor];
                        resValues[globalPointor] = op.apply(v1Values[v1Pointor], v2Values[v2Pointor]);
                        v1Pointor++;
                        v2Pointor++;
                        globalPointor++;
                    } else if (v1Indices[v1Pointor] < v2Indices[v2Pointor]) {
                        resIndices[globalPointor] = v1Indices[v1Pointor];
                        resValues[globalPointor] = v1Values[v1Pointor];
                        v1Pointor++;
                        globalPointor++;
                    } else { // v1Indices[v1Pointor] > v2Indices[v2Pointor]
                        resIndices[globalPointor] = v2Indices[v2Pointor];
                        resValues[globalPointor] = op.apply(0, v2Values[v2Pointor]);
                        v2Pointor++;
                        globalPointor++;
                    }
                }
                newStorage = new ${itype}${dtype1}SortedVectorStorage(v1.getDim(), globalPointor, resIndices, resValues);
#if ($itype == "Int")
            }
#end

            v1.setStorage(newStorage);
        } else {
            throw new AngelException("The operation is not support!");
        }

        return v1;
    }

#end
#end
#end


#foreach (${itype} in ${itypes})
#foreach (${dtype1} in ${dtypes})
    public static Vector apply(${itype}${dtype1}Vector v1, ${itype}DummyVector v2, Binary op) {
#if ($itype == "Int")
        if (v1.isDense()) {
            $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
            $itype.toLowerCase() [ ] v2Indices = v2.getIndices();
            for($itype.toLowerCase() idx: v2Indices) {
                v1Values[idx] = op.apply(v1Values[idx], 1);
            }
        } else if (v1.isSparse()) {
#else
        if (v1.isSparse()) {
#end
            $itype.toLowerCase() [ ] v2Indices = v2.getIndices();
#if ($itype == "Int")
            if (!op.isKeepStorage() && ((v1.size() + v2.size())* Constant.intersectionCoeff > Constant.sparseDenseStorageThreshold * v1.getDim())) {
                ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();

                ObjectIterator<${itype}2${dtype1}Map.Entry> iter = v1.getStorage().entryIterator();
                while(iter.hasNext()){
                    ${itype}2${dtype1}Map.Entry entry = iter.next();
                    resValues[entry.get${itype}Key()] = entry.get${dtype1}Value();
                }

                for($itype.toLowerCase() idx: v2Indices) {
                    resValues[idx] = op.apply(resValues[idx], 1);
                }

                v1.setStorage(newStorage);
            } else {
#end
                // to avoid multi-rehash
                int capacity = 1 << (32 - Integer.numberOfLeadingZeros((int) (v1.size() / 0.75)));
                $itype.toLowerCase() size = v2.size();
                if (v1.size() + v2.size() < 1.5 * capacity) {
                    for (int i = 0; i < size; i++) {
                        $itype.toLowerCase() idx = v2Indices[i];
                        v1.set(idx, op.apply(v1.get(idx),1));
                    }
                } else {
                    ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptySparse((int)(v1.size()+v2.size()));

                    ObjectIterator<${itype}2${dtype1}Map.Entry> iter1 = v1.getStorage().entryIterator();
                    while(iter1.hasNext()) {
                        ${itype}2${dtype1}Map.Entry entry = iter1.next();
                        $itype.toLowerCase() idx = entry.get${itype}Key();
                        newStorage.set(idx, entry.get${dtype1}Value());
                    }

                    for (int i = 0; i < size; i++) {
                        $itype.toLowerCase() idx = v2Indices[i];
                        newStorage.set(idx, op.apply(v1.get(idx),1));
                    }
                    v1.setStorage(newStorage);
                }
#if ($itype == "Int")
            }
#end
        } else { // sorted
            $itype.toLowerCase() [ ] v1Indices = v1.getStorage().getIndices();
            $itype.toLowerCase() [ ] v2Indices = v2.getIndices();
            $itype.toLowerCase() size1 = v1.size();
            $itype.toLowerCase() size2 = v2.size();
#if ($itype == "Int")
            if (!op.isKeepStorage() && ((size1 + size2)* Constant.intersectionCoeff > Constant.sortedDenseStorageThreshold * v1.getDim())) {
                $dtype1.toLowerCase() [ ] v1Values = v1.getStorage().getValues();
                ${itype}${dtype1}VectorStorage newStorage = v1.getStorage().emptyDense();
                $dtype1.toLowerCase() [ ] resValues = newStorage.getValues();

                for (int i=0; i < size1; i++){
                    resValues[v1Indices[i]] = v1Values[i];
                }

                for (int i = 0; i < size2; i++) {
                    $itype.toLowerCase() idx = v2Indices[i];
                    resValues[idx] = op.apply(resValues[idx], 1);
                }

                v1.setStorage(newStorage);
            } else {
#end
                $itype.toLowerCase() [ ] indices = new $itype.toLowerCase() [(int)(v1.size() + v2.size())];
                System.arraycopy(v1Indices, 0, indices, 0, (int)v1.size());
                System.arraycopy(v2Indices, 0, indices, (int)v1.size(), (int)v2.size());
                ${itype}AVLTreeSet avl = new ${itype}AVLTreeSet(indices);

                ${itype}BidirectionalIterator iter = avl.iterator();
                for (int i = 0; i < indices.length; i++) indices[i] = 0;
                $dtype1.toLowerCase() [ ] values = new $dtype1.toLowerCase() [indices.length];
                int i = 0;
                while (iter.hasNext()) {
                    $itype.toLowerCase() idx = iter.next${itype}();
                    indices[i] = idx;
                    values[i] = op.apply(v1.get(idx), v2.get(idx));
                    i++;
                }

                while (i<indices.length) {
                    indices[i] = 0;
                    i++;
                }

                ${itype}${dtype1}SortedVectorStorage newStorage = new ${itype}${dtype1}SortedVectorStorage(v1.getDim(), avl.size(), indices, values);
                v1.setStorage(newStorage);
#if ($itype == "Int")
            }
#end
        }
        return v1;
    }

#end
#end
}
